<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.power.bank.dao.TTemperPictureMapper">
  <resultMap id="BaseResultMap" type="com.power.bank.entity.TTemperPicture">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="temper_id" jdbcType="VARCHAR" property="temperId" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="order_no" jdbcType="INTEGER" property="orderNo" />
  </resultMap>
</mapper>